<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Imperial Assault Campaign Tracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F69B36A81C5E85EA00F5C5DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F69B36BC1C5E85EA00F5C5DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F69B36C71C5E85EA00F5C5DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
